body {
    color: white;
    background: rgba(0, 0, 0, 0.877);
    margin: 20px;
}

header {
    #border-bottom: solid 2px rgb(96, 86, 107);
    padding: 20px;
    font-size: 32px;
    color: rgb(96, 86, 107);
}

section {
    background: rgba(0, 0, 0, 0.712);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}